:root {
    --text-color: hsl(227, 10%, 46%);
    --card-color: hsl(0, 0%, 59%);
}

body {
    background-image: url('./img/l3nobackgroundred.png');
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    margin: 120px 20px 20px 20px;
}

hr {
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    width: 330px;
    height: 350px;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after,
.card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 40%, white);
    z-index: -1;
    padding: 5px;
    bottom: -5px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.card::before {
    filter: blur(1.5rem);
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.card .profile-informations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.card .profile-numbers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
}

.profile-numbers .info .counter,
.card .profile-informations p {
    font-weight: 700;
}

.card .profile-informations .age,
.card .profile-informations .city,
.profile-numbers .info .counter-type {
    color: var(--text-color);
}

.pfp {
    margin-top: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
}

.text {
    text-align: center;
}


.socials-container {
    margin: 40px 20px 20px 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.socials-container a {
    background-color: white;
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(255, 255, 255, 0.22) 0px 15px 12px;
}

.socials-container a svg {
    height: 32px;
}

.socials-container a::before {
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
}

.socials-container a:hover {
    background-color: var(--accent-color);
    fill: white;
}

.socials-container a::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
}

.socials-container a:hover::before {
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}

.socials-container a:hover::after {
    transform: translateY(-45px) rotate(0);
    opacity: 1;
}

.water-mark {
    color: white;
    size: 15px;
    display: flex;
    margin-top: 135px;
}

.link {
    color: white;
}